/* este * atribui valor de 0 a margin e padding em todo o css e border box também*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*modo preto (root) da página com background definido, textos, cores e ícones que se diferem do light mode*/
:root {
  --text-color: white;
  --bg-url: url(assets/bg-mobile.jpg);
  --stroke-color: rgba(255, 255, 255, 0.5);
  --surface-color: rgba(255, 255, 255, 0.1);
  --surface-color-hover: rgba(255, 255, 255, 0.05);
  --highlight-color: rgba(255, 255, 255, 0.2);
  --switch-bg-url: url(assets/MoonStars.svg);
}
/*mesma coisa do black mode só que agora do white mode*/
.light {
  --text-color: black;
  --bg-url: url(assets/bg-mobile-light.jpg);
  --stroke-color: rgba(0, 0, 0, 0.5);
  --surface-color: rgba(0, 0, 0, 0.05);
  --surface-color-hover: rgba(0, 0, 0, 0.02);
  --highlight-color: rgba(0, 0, 0, 0.1);
  --switch-bg-url: url(assets/Sun.svg);
}
/*parte que envolve todo o body da página e como ele responde (var) de acordo com light e dark mode*/
body {
  background: var(--bg-url) no-repeat top center/cover;
  height: 100vh;
}
body * {
  font-family: "Inter", sans-serif;
  color: var(--text-color);
}
/*medidas que envolvem o container, toda a parte desde profile até o footer*/
#container {
  width: 100%px;
  max-width: 588px;
  margin: 56px auto 0px;
  padding: 0 24px;
}
/*medidas para alinhamento do profile, além de medida da img do profile e medidas do texto do profile*/
#profile {
  text-align: center;
  padding: 24px;
}
#profile img {
  width: 112px;
}

#profile p {
  font-weight: 500;
  line-height: 24px;
  margin-top: 8px;
}
/*formas para alinhar a box switch e suas medidas, além das medidas do botão, variação dele de acordo com dark e light mode, formato da borda, sua posição e animação de ligado ou desligado, além disso o efeito ao passar o mouse por cima (hover) e a variação dele com dark e light mode, e por fim as medidas e diferenças do span no dark e light mode*/
#switch {
  position: relative;
  width: 64px;
  margin: 4px auto;
}

#switch button {
  width: 32px;
  height: 32px;
  background: white var(--switch-bg-url) no-repeat center;
  border: 0;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 1;
  transform: translateY(-50%);
  animation: slide-back 0.5s;
}

.light #switch button {
  animation: slide-in 0.5s forwards;
}

#switch button:hover {
  outline: 8px solid var(--highlight-color);
}

#switch span {
  display: block;
  width: 64px;
  height: 24px;
  background: var(--surface-color);
  border: 1px solid var(--stroke-color);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 9999px;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 24px 0;
}
/*formas para alinhar a lista de links, os links e os ícones ao lado dos links e suas medidas, além disso as variações de dark e light mode tanto na ul em si quanto no hover*/
ul li a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px 24px;
  background: var(--surface-color);
  border: 1px solid var(--stroke-color);
  border-radius: 8px;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  text-decoration: none;
  font-weight: 500;
  transition: background 0.2s;
}

#link-icons {
  display: flex;
  justify-content: center;
  transform: translateX(30%) translateY(-8%);
  font-size: 24px;
}

ul li a:hover {
  background-color: var(--surface-color-hover);
  border: 1.5px solid var(--text-color);
}

/*box social links e os links e suas formas de centralizar, além de suas medidas e também em hover a variação de dark para light mode*/
#social-links {
  display: flex;
  justify-content: center;
  padding: 24px 0;
  font-size: 24px;
}

#social-links a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
  transition: background 0.2s;
  border-radius: 50%;
}

#social-links a:hover {
  background: var(--highlight-color);
}

/*medidas e formas de alinhar o rodapé*/
footer {
  padding: 40px 0;
  text-align: center;
  font-size: 12px;
}

/* media queries para o background se adaptar de acordo com o tamanho de tela do dispositivo*/
@media (min-width: 600px) {
  :root {
    --bg-url: url(assets/bg-desktop.jpg);
  }
  .light {
    --bg-url: url(assets/bg-desktop-light.jpg);
  }
}

/*animations para o switch*/
@keyframes slide-back {
  from {
    left: 50%;
  }
  to {
    left: 0;
  }
}

@keyframes slide-in {
  from {
    left: 0;
  }
  to {
    left: 50%;
  }
}
